*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: cadetblue;
}
.signup{
    background-color: whitesmoke;
    height: 470px;
    width: 370px;
    margin-left: 480px;
    margin-top: 70px;
    border: 2px solid black;
    border-radius: 10px;
}
.signup h1{
    background-color: bisque;
    text-align: center;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.details input{
    display: block;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}
.details{
    padding-left: 12px;
    padding-top: 10px;
}
.btn{
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 20px;
    cursor: pointer;
    background-color:green;
    font-size: larger;
    width: 150px;
    height: 50px;
    color: azure;
}
.btn:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
}